services:
  postgres-base:
    image: postgres:18.2
    environment:
      - POSTGRES_DB=tripr
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P4ssword!

  mailpit-base:
    image: axllent/mailpit:v1.29
    restart: unless-stopped
