<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow border-0 rounded-3">
        <div class="card-body p-4 p-md-5">
          <h2 class="card-title text-center mb-4">{{ 'app.auth.register.title' | transloco }}</h2>

          <form (submit)="$event.preventDefault(); onSubmit()" novalidate>
            <app-form-input
              [formField]="registerForm.username"
              id="username"
              label="app.auth.register.username"
              placeholder="app.auth.register.username"
              data-cy="username-input">
            </app-form-input>

            <app-form-input
              [formField]="registerForm.email"
              id="email"
              type="email"
              label="app.auth.register.email"
              placeholder="app.auth.register.email"
              autocomplete="email"
              data-cy="email-input">
            </app-form-input>

            <app-form-input
              [formField]="registerForm.password"
              id="password"
              type="password"
              label="app.auth.register.password"
              placeholder="app.auth.register.password"
              autocomplete="new-password"
              data-cy="password-input">
            </app-form-input>

            <app-form-input
              [formField]="registerForm.confirmPassword"
              id="confirmPassword"
              type="password"
              label="app.auth.register.confirmPassword"
              placeholder="app.auth.register.confirmPassword"
              autocomplete="new-password"
              data-cy="confirm-password-input">
            </app-form-input>

            <div class="d-grid gap-2 mb-3">
              <button type="submit" data-cy="register-button" class="btn btn-primary"
                      [disabled]="registerAction.loading()">
                @if (registerAction.loading()) {
                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                }
                {{ 'app.auth.register.submit' | transloco }}
              </button>
            </div>

            @if (registerAction.error(); as error) {
              <div
                class="alert alert-danger">{{ error.message | transloco: error.params }}
              </div>
            }
          </form>

          <div class="text-center mt-4">
            <p class="small text-muted">{{ 'app.auth.register.haveAccount' | transloco }}
              <a routerLink="/login" class="text-decoration-none">{{ 'app.auth.register.login' | transloco }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
