apiVersion: v1
kind: Secret
metadata:
  name: "{{ app_name }}-secrets"
  namespace: "{{ app_name }}"
stringData:
  MAIL_HOST: "{{ mail_host }}"
  MAIL_PORT: "{{ mail_port }}"
  MAIL_USERNAME: "{{ mail_username }}"
  MAIL_PASSWORD: "{{ mail_password }}"
  DB_HOST: "{{ db_host_ip }}"
  DB_PORT: "{{ db_port }}"
  DB_NAME: "{{ db_name }}"
  DB_USERNAME: "{{ db_user }}"
  DB_PASSWORD: "{{ db_password }}"
  JWT_SECRET: "{{ jwt_secret }}"
  BASE_URL: "{{ base_url }}"
  SERVER_PORT: "{{ app_port }}"
