apiVersion: v1
kind: Secret
metadata:
  name: "{{ app_name }}-secrets"
  namespace: "{{ app_name }}"
stringData:
  MAIL_HOST: "{{ lookup('env', 'ANSIBLE_MAIL_HOST') }}"
  MAIL_PORT: "{{ lookup('env', 'ANSIBLE_MAIL_PORT') }}"
  MAIL_USERNAME: "{{ lookup('env', 'ANSIBLE_MAIL_USERNAME') }}"
  MAIL_PASSWORD: "{{ lookup('env', 'ANSIBLE_MAIL_PASSWORD') }}"
  DB_HOST: "{{ db_host_ip }}"
  DB_PORT: "5432"
  DB_NAME: "{{ lookup('env', 'ANSIBLE_DB_NAME') }}"
  DB_USERNAME: "{{ lookup('env', 'ANSIBLE_DB_USERNAME') }}"
  DB_PASSWORD: "{{ lookup('env', 'ANSIBLE_DB_PASSWORD') }}"
  JWT_SECRET: "{{ lookup('env', 'ANSIBLE_JWT_SECRET') }}"
  BASE_URL: "{{ lookup('env', 'ANSIBLE_BASE_URL') }}"
  SERVER_PORT: "8080"
